.page
{
width: 918px;
height: 768px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.block1
{
    width: 878px;
    height: 81px;
    display: flex;
    justify-content: space-between;
}

.text1-1
{ 
    display: flex;
    align-items: center;
    width: 231px;
    height: 81px;
    background: red;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
}

.text1-1 span
{
    margin: auto;
}
.text1-2
{
    width: 627px;
    height: 81px;
    background: #FFC700;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    display: flex;  
}

.text1-2 span
{
    margin: 16px 25px 3px;
}

.block2
{
    height: 368px;
    width: 878px;
    background: #00FF0A;
    display: flex;
}

.text2
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    margin: 24px 25px 22px;
}

.block3
{
    width: 878px;
    height: 239px;
    display: flex;
    justify-content: space-between;
}

.text3
{
    background: #0500FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    width: 370px;
}